form{
    width: 60%;
    padding: 40px;
    margin: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

form .content label{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

form .content input,
form .content textarea{
    margin-bottom: 5px;
    width: 70%;
    padding: 8px;
    border-radius: 3px;
    background-color: #dfdfdf;
    outline: none;
    border: 2px solid rgba(0,0,0,0.2);
    color: rgba(0, 0, 0, 0.6);
}

form .button button{
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 25px;
    border: none;
    background-color: #800040;
    border-radius: 5px;
    color: white;
}